<mat-sidenav-container class="side-container">
  <mat-sidenav mode="side" opened id="sidenav">
    <div class="title-app">aEscolar</div>
    <div class="container-btns">
      <button mat-button routerLink="/"><mat-icon>home</mat-icon> Início</button>
      <button mat-button routerLink="/disciplines"><mat-icon>school</mat-icon> Disciplinas</button>
      <button mat-button routerLink="/activities"><mat-icon>class</mat-icon> Atividades</button>
      <button mat-button routerLink="/tests"><mat-icon>event</mat-icon> Provas</button>
      <button mat-button routerLink="/teachers"><mat-icon>people</mat-icon> Professores</button>
      <button mat-button routerLink="/school-report"><mat-icon>calendar_view_week</mat-icon> Notas</button>
      <button mat-button routerLink="/schedule"><mat-icon>date_range</mat-icon> Horário</button>
    </div>
  </mat-sidenav>
  <mat-sidenav-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
